.widget-events-trainee {
    width: 96%;
    margin: 2%;
    background: #fff;
    border: 1px solid #e3cef6;
}

.widget-events-trainee-title {
    padding: 10px;
    background: #e3cef6;
}

.widget-events-trainee-ajaxform {
    padding: 10px;
    border-bottom: 1px solid #e3cef6;
}

.widget-events-trainee-ajaxform input[type="number"]{
    width: 100%;
    padding: 0 0 0 5px;
}

#widget-events-trainee-content {
    padding: 10px;
}

.widget-events-trainee-content-notfound {
    text-align: center;
}

.widget-events-trainee-event {
    padding: 2%;
    border-top: 1px solid #e3cef6;
}

.widget-events-trainee-event-title {
    color: #2e2e2e;
    text-align: center;
}

.widget-events-trainee-event-status,
.widget-events-trainee-event-date {
    color: #585858;
}

